body{
    height: 100vh;
    background: #066acd;
}
.container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
form{
    position: relative;
    padding: 30px 20px;
}



.form-item{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

 button{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-size: 3rem;
}


.utente{

    margin: 10px 0;
    border: 1px solid black;
}