body{

    background-color: #060606;
}



.card-container{
    background-color: #1e1e1e;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    margin: 30px auto;
}

.img-card{

    width: 100%;
    padding: 40px 30px;
   
}

.header{
    color: white;
    text-align: center;

}