/* You can add global styles to this file, and also import other style files */

body {
    background-color: aqua;
   

}

.container {
    display: flex;
    justify-content: baseline;
    margin-top: 200px;
    margin-left: 390px;
}