/* IMPOSTAZIONI GENERALI */

body{
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.8;
    font-size: 1.5rem;
}
html{
    font-size: 70%;
}
h1{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 0.8;
    text-align: center;
}

h2{
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1.5;
    text-align: center;
}

h3{
    font-size: 2.5rem;
    margin-bottom: 0.5;
    list-style: 0.5;
    text-align: center;
}


.info{
    background-image: linear-gradient(90deg, #6cc1e2 0, #392f7a);
    padding: 1.2rem 1.6rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    border:0;
    cursor: pointer;
}

p{
    text-align: center;
    margin:2rem 2rem;
    
}

aside img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1em;
}

form{
    margin-bottom: 15px;
}
/* HEADER */
#header-container{
    background-color: white;
    box-shadow: 2px 1px 3px #d3d3d3; 
    padding: 1.2;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
    width:auto;
}
ul, li{
    margin-bottom: 1em;
}

ul{
    margin-left: 2em;
}
@media screen and (max-width:768px) {
    
#menu{
    height: 0;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
    width: 100%;
}
label[for="toggle"]{
    cursor: pointer;/*appare la manina*/
}

input[type="checkbox"]{
    display: none;/*nascondo la checkbox*/
}
input[type="checkbox"]:checked + #menu{
    height: 150px;
}
#menu > li{
    height: 25px;
    display: block;
    background-color:#6cc1e2;
}
#menu li > ul{
    display: none;
}
#menu-registrati{
    display: none;
}
}
/* MAIN */
.container{
    padding: 2.5em 1.5em;
    text-align: center;
}

.img{
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 2.5em;
}
#n1{
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center top;
  color: white;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 2px #000;
}

.fa-solid, .fa-brands{
    color:red ;
    font-size: 2.5rem;
}

span{
    text-align: center;
    display: block;
    font-size: 3.5;
}
#n3{
    background-color:#0c0633 ;
    color: white;
    padding: 50px 10px;
}

#notebook{
    display: inline-block;
    width: 100%;
}
.info-chisiamo img{
    display: inline-block;
    width: 100%;
}
#table{
    margin: 30px 20px;

}

.rcolor{
    background-color: #d2dce7;
}

.benefits{
    display: flex;
    flex-direction: column;
    align-content: center;
}   

.info:hover {
    animation: animazione 2s infinite;
}
@keyframes animazione {
    0% {
      transform: scale(0.8);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9);
    }
    
    50% {
      transform: scale(1.5);
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
    
    100% {
      transform: scale(0.8);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  address{
    text-align: center;
  }

  contatti{
    margin-top: 20px;
    display: flex;
  flex-direction: column;
  }
/* FOOTER */

#footer{
    background-color: rgb(238, 238, 238);
    padding: 50px;
}

#social{
    text-align: center;
}

#newsletter{
    background-image: linear-gradient(#6cc1e2, #392f7a);
    color: white;
    width: 100%;
}

form{
    text-align: center;
}
#copyright{
    margin-top: 50px;
}

/* RESPONSIVE */    

/*tablet 768px in su */

@media screen and (min-width:768px) {
    
 html{
    font-size:60%;
 }
#headern1{
    display: none;
}
 #menu-registrati{
    
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 0 1.5em;
 }

    #n1{
        background-image: url(../images/banner.jpg);
        background-size: cover;
        background-position: center top;
        color: white;
        height: auto;
        overflow: hidden;
      }
    #benefits-info{
        display: flex;
        justify-content: space-evenly;
    }
#notebook{
    height: 80%;
    margin:auto;
}
 #pronostici{
    display: flex;
 }
 #contacts{
    display: flex;
    justify-content: space-evenly;
 }
 }

 .container {
    margin: 0 auto;
 }

 .container-chisiamo{
    display: flex;
 }
#table-chisiamo{
    display: flex;
    justify-content: center;
}

/* dekstop 1024 px in su */

@media screen and(min-width:1179px) {
    #n1{ justify-content: space-evenly;}
        #social{
    margin: 100px 40px;
        }
}
