/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main{
    display: flex;
    align-items: center;
}

#testoAlternato{
    background-color: white;
    height: 200px;
    width: 600px;
    border: 4px solid black;
    position: relative;
}

#frase{
    font-family: 'Bree Serif', sans-serif;
	font-size: 2rem;
	color: #333;
	line-height: 1.5;
}

#container-parole{
    text-indent: 10px;
}
.parola{
    font-family: 'Bree Serif', sans-serif;
    color: rgb(73, 117, 218);
    font-size: 1.2rem;
    position: absolute;

}