

<!-- >
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>
      <button
      (click)="deleteUser(user.id)"
      class="btn btn-danger text-dark">Elimina</button>
    </td>
  </tr>
</table> -->

   <div class="container">        
 
<div *ngFor="let photo of photos" id="ElementoCompleto">  
  
<div class="card col-4 mt-5 ms-5" style="width: 18rem;">
  <img [src]="photo.thumbnailUrl" class="card-img-top" alt="...">
  <h5 class="card-title">{{photo.title}}</h5>
    <button [style.backgroundColor]="bgColor"
      (click)="likePhoto(photo, $event)" 
       class="btn btn-danger text-dark">Mi piace</button>
      <button
      (click)="deletePhoto(photo.id)"
      class="btn btn-danger text-dark">Elimina</button>
    </div>
  </div>
</div>   

  <p>hai messo {{this.like.length}} like</p>

