
.navbar-brand img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.navbar{

    background-color: #40a8b6;
    height: 200px;
}

.dropdown-menu{

    background-color:  #40a8b6;
}

#navbarNavDropdown ul a {
    color : changeColor($bgColor-1) ;
}

.navbar-nav li a {
    font-family: $font;
    @include Font;
    color : changeColor($bgColor-1) ;
}