$bgColor-1 : #40a8b6;
$font-color : white;
$font : 'Merriweather', serif;
$font-secondary : 1.2rem;
$text-shadow : 5px 5px 5px #CCC;

@mixin Font {
    font-size: $font-secondary;
    font-family: $font;
}


