@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'navbar';
@import 'slider';
@import 'function';



body{

    background-image: linear-gradient((#b6e3ee, #40a8b6));
    background-size: cover;
    height: 100%;
}

#img_principal{

    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 30px white;

}

#text-principal{

    font-family: $font;
    color: $font-color;
    text-align: center;
    text-shadow: 5px 5px 5px #CCC;
    font-size: 2rem;


}

#description{
    @include Font;
    text-align: justify;
    line-height: 1.5;
    font-family: $font;
}

#description span {
    font-weight: bold;
    color:lightness($color: #0d7482) ;
    
}

.img-partner{
    width: 50%;
    border-radius: 20px;
}

.img-events{
    width: 50%;
}

