@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'navbar';
@import 'slider';
@import 'function';



body{

    background-image: linear-gradient((#b6e3ee, #40a8b6));
    background-size: cover;
    height: 100%;
}

hr{
    border: 2px double white;
    opacity: 0.25;
    margin: 5% 10%;
}

#title-aboutus{
    font-size: 2rem;
    margin-bottom: 50px;
    color: white;
    font-family: 'Merriweather', serif;
    text-shadow: $text-shadow;
    
}

#title-events{
    @include Font;
    margin-bottom: 50px;
    text-shadow: $text-shadow;
}

#title-collaborations{
    @include Font;
    margin-bottom: 50px;
    text-shadow: $text-shadow;
}

#img_principal{

    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 30px white;

}

#text-principal{

    font-family: $font;
    color: $font-color;
    text-align: center;
    text-shadow: 5px 5px 5px #CCC;
    font-size: 2rem;


}

#description{
    @include Font;
    text-align: justify;
    line-height: 1.5;
    font-family: $font;
}

#button{
    border-radius: 5%;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    background-color: #b6e3ee;
    line-height: 50px;
}

#button a{
    text-decoration: none;
    @include Font;
}

#description span {
    font-weight: bold;
    color:lightness($color: #0d7482) ;
    
}

.img-partner{
    width: 40%;
    border-radius: 20px;
}

.img-events{
    width: 60%;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

